pkgbase = tstock
	pkgdesc = A command-line tool to view stock charts in the terminal.
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/Gbox4/tstock
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = make
	makedepends = glibc
	depends = glibc
	provides = tstock
	source = git+https://github.com/Gbox4/tstock
	md5sums = SKIP

pkgname = tstock
